 #calendario {
     position: relative;
     width: 100%;
     margin: 0px auto;
 }

 #espaco {
     width: 65%;
     margin-top: 10px;
     margin-left: 20%;
 }

 #passou {
     width: 20%;
 }

 h1 {
     width: 40%;
     float: left;
 }

 #excluir {
     background: black;
     color: #FFF;
     border: 1px solid #FFF;
     float: right;
     height: 5%;
     width: 20%;
 }
